<%= render partial: 'header_edit' %>
<div class="posts-index">
    <div class="container">

        <div class="post_card jscroll">
            <% @current_user_posts.each do |post| %>   
                <section class="card">
                    <div class="card-content">
                        <div class="user">
                        <div class="user_item card-user_image">
                            <%= image_tag post.user.image_name.to_s %>
                        </div>
                        <p class="user_item">
                            <%= post.user.name %> 
                        </p>
                        </div>
                        </br> 
                        <p class="post_title">
                            <%= post.title %>
                        </p>
                        <div class="post_image">
                            <%= image_tag post.image_name.to_s %></br>
                        </div>
                        <p class="post_content">
                            <%= simple_format(post.content) %>
                        </p>
                        <div class="post_time">
                            <%= post.created_at %>
                        </div>

                    </div>
                </section>
            <% end %>
            <%= paginate @current_user_posts %>
        </div>

    </div>
</div>