<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <%= form_with model: Post.new, local: true do |form| %>
                        <div class="modal-body">
                         <div class="form-group">
                               <%= form.label :title, 'Title:' %>
                               <%= form.text_field :title, class: 'form-control'%>
                           </div>
                           <div class="form-group">
                             <div class="field_image">
                              <div id="img_field" onClick="$('#file').click()">
                                <%= image_tag("/pic_images/default_image.jpg") %>
                             </div>
                                <%= form.file_field :image_name, class: "image", style: "display:none;", id: "file"%>
                              </div>
                            </div>            
                            <div class="form-group">
                                <%= form.label :content, 'content:' %>
                                <%= form.text_area :content, class: 'form-control' , rows:3%>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <%= form.submit 'post', class: 'btn btn-primary' %>
                        </div>
                    <% end %>

　        </div>
     </div>
</div>