<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" script src="./javascripts/move.js"></script>
  </head>

  <body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand brand_rogo" href="/">BookSalon</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if session[:user_id]  %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
            </ul>
            <li class="nav-item">
                <%= link_to("ログアウト", "/logout", {method: :post}) %>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <div class="header_img" data-toggle="modal" data-target="#UserModal"><img src="<%= "/user_images/#{@current_user.image_name}" %>"></div>
                <input class="form-control mr-sm-2" type="search" placeholder="Please Keyword..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <button type="button" class="btn btn-outline-primary new_post_bottom" data-toggle="modal" data-target="#exampleModal">NewPost</button>
            </form>
          </div>
        <% else %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <button type="button" class="btn btn-outline-dark"  data-toggle="modal" data-target="#LoginModal">Login</button>
              </li>
              <li class="nav-item">
                  <button type="button" class="btn btn-outline-dark"  data-toggle="modal" data-target="#SignUpModal">SignUp</button>
              </li>
            </ul>
            <li class="nav-item">
            </li>
            <form class="form-inline my-2 my-lg-0">
            </form>
          </div>
        <% end %>
        
      </nav>
  <header>

    <%= yield %>
    <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
    <% end %>

  </body>
</html>
